@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



@viewport {
  zoom: 1.0;
  min-zoom: 1.0;
  max-zoom: 2.0;
}

:root {
  /* color-scheme: light dark; */
  --main-color: #0197F6;
}


input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

@layer components {
  .max-container {
    max-width: 1500px;
    margin: 0 auto;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  outline: none;
  scroll-behavior: smooth; 
}

html {
  scroll-behavior: smooth;
  color-scheme: dark;
}

.Toastify__toast-container{
  height: fit-content;
  min-height: unset;
}

.Toastify__toast-body {
  color: #444C63;
  color: #aaaaaa;
  font-weight: lighter;
  font-size: 14px;
  padding: 0px;
  width: 100%;
  height: fit-content;
  font-weight: 400;
  margin-left: 25px !important;
  padding: 15px 0;
  margin: 0;
  margin-right: 60px;
  min-height: unset;
} 

.Toastify__toast{
  position: relative;
  background-color:#202020;
  padding: 0;
  margin: 0;
  margin-top: 8px;
  display: flex;
  height: fit-content;
  border-radius: 12px;
  min-height: unset;

}

.Toastify__progress-bar--wrp{
  position: absolute;
  opacity: 0;
}

.Toastify__close-button{
  height: 100%;
  padding: 0 20px 0 10px;
  position: absolute;
  right: 0;
  top: 0;
  align-items: center;
  justify-content: center;
}

.Toastify__close-button svg{
  height: 18px;
  width: 18px;
  color: white;
  opacity: 1;
  color: #7e7e7e;
}




::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #a5a5a55e;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a5a5a59c;
}


::-webkit-scrollbar-thumb:active {
  background-color: var(--main-color);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-corner {
  background-color: transparent; 
}


.popup {
  position: fixed; /* or absolute */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); /* semi-transparent black overlay */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  background-color: white;
  height: 40%; width: 40%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
}

.scroll-disabled {
  overflow-y: hidden;
}